{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Bet Now</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
</head>
<body>
    <div class="header">
				<a href="/" id="logo"><img src="{% static 'images/bett.png' %}" alt=""/></a>
				<ul>

					<li><a href="/">Home</a></li>
					{% if request.user.is_authenticated %}
			        <li><a href="{% url 'profile' user=request.user %}"><span>Hi {{request.user|capfirst}}</span></a></li>
			        <li><a href="{% url 'Logout'  %}"><span>Logout</span></a></li></li>
					<li><a href="#">Results</a></li>
                    {% else %}
			        <li><a href="{% url 'login'  %}"><span>Login</span></a></li>
                    <li><a href="{% url 'Signup'  %}"><span>Signup</span></a></li>
                    {% endif %}
                    <li><a href="{% url 'search' %}">Search</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
    <div class='container-fluid'>
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>