{% extends 'index.html' %}
{% load static %}
{% block content %}
<html>
<head>
 <style>
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: -15px;
  text-align: center;
  font-family: arial;
}



.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
    </style>
</head>
<body>
<br>
<br>
<br>
<br>
<div align="center">
{% for detail in details %}
<div class="card" >
    <h4>{{ detail.team1}} VS {{ detail.team2}}</h4>
    <small>{{detail.time}}</small>
    <p>Available votes:<b>{{ detail.votes}}</b></p>

    <a href="{{ detail.get_absolute_url }}">View Details</a><br>
    <a href="#"></a>
</div>
<br><br><br><br>
{% endfor %}
</div>
</body>
</html>
{% endblock %}
